*{
  margin:0;
  padding:2px;
}
#map 
{
  width: 100%;
  height: 475px;
}
p span 
{
	  display: block;
}
#header
{
	width:930px;
	font-size:48px;
	margin-left:auto;
	margin-right:auto;
	padding: 2px;
}